.slide.gliederung {

    background: #3D7EAA;
    background: linear-gradient(to right, #C9D2EE, #FFE7C3);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 25px 40px;
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-y: hidden;
    max-width: 100vw;

    .timeline {
        width: 15px;
        min-height: 800px;
        background-color: black;
        border-radius: 25px;
        margin-top: 0px;
        margin-bottom: 100px;

        position: relative;

        .point {
            left: -50%;
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: white;
            border: 5px solid black;
            animation: scale-in ease-out 750ms;

            margin-top: 30px;

            div {
                position: absolute;
                top: 5px;
                background: #fff;
                border-radius: 15px;
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
                padding: 25px 40px;

                width: max-content;
                max-width: 350px;

                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;

                font: 500 17px "Open Sans", sans-serif;

                animation: fade-in-up ease-out 750ms;

                &.left {
                    right: 50px;
                }

                &.right {
                    left: 50px;
                }
            }

            &.quiz {
                width: 30px;
                height: 30px;
                background-image: url('../../../../../assets/star_black_24dp.svg');
                background-size: cover;
                background-color: white;
                border: 0;

                svg {
                    fill: gold;
                }

                div {
                    border: 4px solid gold;
                    width: max-content;
                    max-width: 350px;
                    min-width: 200px;
                }
            }
        }
    }

    .scroll-down-container {

        display: flex;
        flex-direction: row;

        right: 25px;
        top: 40px;
        position: absolute;

        font: 500 17px "Open Sans", sans-serif;

        .arrow-down {
            margin-left: 10px;
            width: 30px;
            animation: bounce 2s infinite;
        }
    }
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}