.slide.landing-page {

    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 25px 40px;
    margin: 5%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    position: relative;

    h2 {
        font: 600 40px "Roboto", sans-serif;
    }

    h3{
        font: 500 22px "Open Sans", sans-serif;
    }

    .credits {
        margin-top: 10px;
        text-align: center;
        font: 500 17px "Open Sans", sans-serif;
        position: absolute;
        bottom: 25px;
    }
}