.page.chat {
    background: #e43a15;
    background: linear-gradient(to right, #e65245, #e43a15);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .choose-chat {
        width: 20%;
        min-width: 200px;
        min-height: 100vh;
        height: 100vh;
        max-height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        background: #fff;

        .title {
            padding: 10px;

            h2 {
                font: 500 25px "Roboto", sans-serif;
            }

            h3 {
                font: 500 15px "Open Sans", sans-serif;
            }

        }

        .loading {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            font: 500 14px "Open Sans", sans-serif;

            img {
                width: 30px;
            }
        }

        .active-user {
            border: 1px solid #7F7F7F;
            border-width: 1px 0 0 0;
            padding: 10px;
            min-height: 60px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            user-select: none;

            p {
                font: 500 17px "Open Sans", sans-serif;
            }

            &:hover {
                background: rgba(0, 0, 0, 0.1)
            }
        }

        :last-child:not(h3) {
            border-bottom-width: 1px;
        }
    }

    input {
        margin: 20px 10px;
        min-height: 44px;
        height: 44px;
        padding: 0 10px;
        font: 600 14px "Open Sans", sans-serif;
        border: 0.5px solid #636363;
        border-radius: 6px;
    }

    input:focus {
        outline: none;
        -webkit-appearance: none;
        border: 2px solid #000;
        background: #f7f7f7;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}