.page.chat {
  background: #3D7EAA;
  background: -webkit-gradient(linear, left top, right top, from(#C9D2EE), to(#FFE7C3));
  background: linear-gradient(to right, #C9D2EE, #FFE7C3);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page.chat .tile {
  width: 100%;
  max-width: 600px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fade-in-up ease-out 500ms;
          animation: fade-in-up ease-out 500ms;
}

.page.chat .tile h2 {
  font: 700 30px "Roboto", sans-serif;
  padding-bottom: 15px;
}

.page.chat .tile h3 {
  font: 500 18px "Open Sans", sans-serif;
}

.page.chat .tile .seperator {
  height: .3px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.page.chat .tile .messages {
  min-height: Min(400px, 70vh);
  max-height: Min(400px, 70vh);
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.page.chat .tile .messages .message-wrapper {
  margin-bottom: 10px;
}

.page.chat .tile .messages .message-wrapper:not(.self) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.page.chat .tile .messages .message-wrapper.self {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.page.chat .tile .messages .message-wrapper .message {
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 13px;
  font: 500 15px "Open Sans", sans-serif;
}

.page.chat .tile .messages .message-wrapper .message:not(.self) {
  background-color: #FFE7C3;
}

.page.chat .tile .messages .message-wrapper .message.self {
  background-color: #C9D2EE;
}

.page.chat .tile .messages .message-wrapper .sender-tag {
  text-align: end;
  margin: 0;
  padding: 0;
  font: 400 12px "Open Sans", sans-serif;
}

.page.chat .tile .textfield {
  font: 600 14px "Open Sans", sans-serif;
  margin-bottom: 0px;
  padding-top: 10px;
}

.page.chat .tile .textfield input {
  margin-top: 4px;
  width: 100%;
  height: 44px;
  padding: 0 10px;
  font: 600 14px "Open Sans", sans-serif;
  border: 0.5px solid #636363;
  border-radius: 6px;
}

.page.chat .tile .textfield input:focus {
  outline: none;
  -webkit-appearance: none;
  border: 2px solid #000;
  background: #f7f7f7;
}

.page.chat .tile .submit {
  margin-top: 15px;
  background: #C9D2EE;
  border-radius: 6px;
  color: #000;
  width: 100%;
  height: 44px;
  outline: none;
  border: 0;
  font: 600 15px "Open Sans", sans-serif;
  cursor: pointer;
}

.page.chat .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 500 14px "Open Sans", sans-serif;
}

.page.chat .loading img {
  width: 30px;
}

@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=styles.css.map */