.slide.second-quiz {
    background: radial-gradient(circle, rgba(35, 17, 59, 1) 10%, rgba(16, 13, 18, 1) 100%);
    background-position-y: -000px;
    background-size: 100vw 200vh;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-y: scroll;

    max-width: 100vw;

    svg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;

        &.front {
            z-index: 3;
        }

        &.back {
            bottom: 90px;
        }
    }

    .back-filler {
        position: absolute;
        bottom: 0;
        height: 100px;
        width: 100vw;
        background: #1B0E2A;
    }

    .tile {
        background: white;
        border-radius: 15px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        padding: 25px 40px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        margin-bottom: 15px;

        z-index: 3;

        transition: opacity 500ms;
    }

    text-align: center;

    h2 {
        font: 600 40px "Roboto", sans-serif;
    }

    h3 {
        font: 500 22px "Open Sans", sans-serif;
    }

    .seperator {
        height: .3px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        margin: 20px 0 15px 0;
    }

    #start, .submit{
        outline: none;
        border: 0;
        border-radius: 15px;
        height: 44px;
        font: 500 15px "Open Sans", sans-serif;
        cursor: pointer;
        color: white;
        background: #100D12;
    }

    .title, .countdown, .result{
        margin: auto 0;
    }

    .questions{
        max-width: 600px;
        margin: 100px 0;
        
        h2{
            font: 600 18px "Roboto", sans-serif;
            margin-bottom: 10px;
        }
    }

    .result{
        max-width: 600px;
        margin: 100px 0;
        text-align: left;

        .question{
            font: 500 18px "Roboto", sans-serif;
        }

        h3:not(.question){
            margin-top: 10px;
            font: 500 16px "Open Sans", sans-serif;
            line-height: 25px;
        }
    }

    button{

        outline: none;
        border: 0;
        height: 44px;
        border-radius: 15px;
        cursor: pointer;
        margin: 7px 0;
        font: 500 15px "Open Sans", sans-serif;

        &.selected{
            // background: red;
            border: 2px solid black;
            background:rgba(0, 0, 0, 0.13);
        }
    }

    .remaining-time{
        position: absolute;
        top: 20px;
        right: 30px;
        font: 500 20px "Roboto", sans-serif;
        color: white;
    }

}

.pyro{
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 500ms;
}

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

body {
  margin:0;
  padding:0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}
