.page.presentation {
  background: #3D7EAA;
  background: -webkit-gradient(linear, left top, right top, from(#C9D2EE), to(#FFE7C3));
  background: linear-gradient(to right, #C9D2EE, #FFE7C3);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
}

.page.presentation .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font: 500 14px "Open Sans", sans-serif;
  -webkit-animation: fade-in ease-out 500ms forwards;
          animation: fade-in ease-out 500ms forwards;
}

.page.presentation .loading img {
  width: 30px;
}

.page.presentation .tile {
  width: 100%;
  max-width: 600px;
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fade-in-up ease-out 500ms;
          animation: fade-in-up ease-out 500ms;
}

.page.presentation .tile .seperator {
  height: .3px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 15px 0;
}

.page.presentation .tile h2 {
  font: 700 30px "Roboto", sans-serif;
}

.page.presentation .tile h3 {
  font: 500 18px "Open Sans", sans-serif;
  padding-bottom: 10px;
  overflow-wrap: break-word;
}

.page.presentation .partner,
.page.presentation .you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page.presentation .step:not(.nine) {
  margin: auto 0;
}

.page.presentation .step.four .graphic-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0;
}

.page.presentation .step.four .graphic-presentation p {
  margin: 0;
  padding: 0;
  text-align: center;
  font: 500 15px "Open Sans", sans-serif;
}

.page.presentation .step.four .graphic-presentation img {
  width: 35px;
}

.page.presentation .step.four .graphic-presentation .partner {
  position: relative;
}

.page.presentation .step.four .graphic-presentation .partner .key {
  position: absolute;
  top: 10px;
  -webkit-transform: translateX(calc(-100% - 15px));
          transform: translateX(calc(-100% - 15px));
  -webkit-animation: blink 3s linear infinite;
          animation: blink 3s linear infinite;
  opacity: 0;
}

.page.presentation .step.four .graphic-presentation .you {
  position: relative;
}

.page.presentation .step.four .graphic-presentation .you .key {
  position: absolute;
  top: 10px;
  -webkit-transform: translateX(calc(100% + 10px));
          transform: translateX(calc(100% + 10px));
  -webkit-animation: move-right-fade-out 3s ease-in-out infinite;
          animation: move-right-fade-out 3s ease-in-out infinite;
}

.page.presentation .step.five .graphic-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page.presentation .step.five .graphic-presentation p {
  margin: 0;
  padding: 0;
  text-align: center;
  font: 500 15px "Open Sans", sans-serif;
}

.page.presentation .step.five .graphic-presentation img {
  width: 35px;
}

.page.presentation .step.five .graphic-presentation .partner {
  position: relative;
}

.page.presentation .step.five .graphic-presentation .partner .key {
  position: absolute;
  top: 10px;
  -webkit-transform: translateX(calc(-100% - 15px));
          transform: translateX(calc(-100% - 15px));
  -webkit-animation: move-left-fade-out 3s ease-in-out infinite;
          animation: move-left-fade-out 3s ease-in-out infinite;
  opacity: 0;
}

.page.presentation .step.five .graphic-presentation .you {
  position: relative;
}

.page.presentation .step.five .graphic-presentation .you .key {
  position: absolute;
  top: 10px;
  -webkit-transform: translateX(calc(100% + 10px));
          transform: translateX(calc(100% + 10px));
  -webkit-animation: blink 3s linear infinite;
          animation: blink 3s linear infinite;
  opacity: 0;
}

.page.presentation .step.eight .graphic-presentation, .page.presentation .step.thirteen .graphic-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page.presentation .step.eight .graphic-presentation p, .page.presentation .step.thirteen .graphic-presentation p {
  margin: 0;
  padding: 0;
  text-align: center;
  font: 500 15px "Open Sans", sans-serif;
}

.page.presentation .step.eight .graphic-presentation img, .page.presentation .step.thirteen .graphic-presentation img {
  width: 35px;
}

.page.presentation .step.eight .graphic-presentation .partner, .page.presentation .step.thirteen .graphic-presentation .partner {
  position: relative;
}

.page.presentation .step.eight .graphic-presentation .partner .encrypted, .page.presentation .step.thirteen .graphic-presentation .partner .encrypted {
  position: absolute;
  top: -15px;
  -webkit-transform: translateX(calc(-100% - 15px));
          transform: translateX(calc(-100% - 15px));
  opacity: 0;
  -webkit-animation: blink 3s linear infinite;
          animation: blink 3s linear infinite;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.page.presentation .step.eight .graphic-presentation .you, .page.presentation .step.thirteen .graphic-presentation .you {
  position: relative;
}

.page.presentation .step.eight .graphic-presentation .you .decrypted, .page.presentation .step.thirteen .graphic-presentation .you .decrypted {
  position: absolute;
  top: -15px;
  -webkit-transform: translateX(calc(100% + 10px));
          transform: translateX(calc(100% + 10px));
  -webkit-animation: move-right-fade-out-short 3s infinite;
          animation: move-right-fade-out-short 3s infinite;
}

.page.presentation .step.eight .graphic-presentation .encrypted-moving, .page.presentation .step.thirteen .graphic-presentation .encrypted-moving {
  position: relative;
}

.page.presentation .step.eight .graphic-presentation .encrypted-moving .encrypted, .page.presentation .step.thirteen .graphic-presentation .encrypted-moving .encrypted {
  position: absolute;
  top: -16px;
  -webkit-transform: translateX(calc(100% + 10px));
          transform: translateX(calc(100% + 10px));
  -webkit-animation: move-right-fade-out-encrypted 3s infinite;
          animation: move-right-fade-out-encrypted 3s infinite;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  opacity: 0;
}

.page.presentation .step.ten .graphic-presentation, .page.presentation .step.twelve .graphic-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page.presentation .step.ten .graphic-presentation p, .page.presentation .step.twelve .graphic-presentation p {
  margin: 0;
  padding: 0;
  text-align: center;
  font: 500 15px "Open Sans", sans-serif;
}

.page.presentation .step.ten .graphic-presentation img, .page.presentation .step.twelve .graphic-presentation img {
  width: 35px;
}

.page.presentation .step.ten .graphic-presentation .partner, .page.presentation .step.twelve .graphic-presentation .partner {
  position: relative;
}

.page.presentation .step.ten .graphic-presentation .partner .encrypted, .page.presentation .step.twelve .graphic-presentation .partner .encrypted {
  position: absolute;
  top: 10px;
  -webkit-transform: translateX(calc(-100% - 15px));
          transform: translateX(calc(-100% - 15px));
  -webkit-animation: blink 3s linear infinite;
          animation: blink 3s linear infinite;
  opacity: 0;
}

.page.presentation .step.ten .graphic-presentation .you, .page.presentation .step.twelve .graphic-presentation .you {
  position: relative;
}

.page.presentation .step.ten .graphic-presentation .you .encrypted, .page.presentation .step.twelve .graphic-presentation .you .encrypted {
  position: absolute;
  top: 10px;
  -webkit-transform: translateX(calc(100% + 10px));
          transform: translateX(calc(100% + 10px));
  -webkit-animation: move-right-fade-out 3s ease-in-out infinite;
          animation: move-right-fade-out 3s ease-in-out infinite;
}

.page.presentation .step.twelve .graphic-presentation .you .encrypted {
  top: -15px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  66%,
  49% {
    opacity: 0;
  }
  50%,
  65% {
    opacity: 1;
  }
}

@keyframes blink {
  66%,
  49% {
    opacity: 0;
  }
  50%,
  65% {
    opacity: 1;
  }
}

@-webkit-keyframes move-right-fade-out {
  0% {
    -webkit-transform: translateX(calc(100% + 10px));
            transform: translateX(calc(100% + 10px));
    opacity: 1;
  }
  50%,
  100% {
    -webkit-transform: translateX(Min(50vw, 450px));
            transform: translateX(Min(50vw, 450px));
    opacity: 0;
  }
}

@keyframes move-right-fade-out {
  0% {
    -webkit-transform: translateX(calc(100% + 10px));
            transform: translateX(calc(100% + 10px));
    opacity: 1;
  }
  50%,
  100% {
    -webkit-transform: translateX(Min(50vw, 450px));
            transform: translateX(Min(50vw, 450px));
    opacity: 0;
  }
}

@-webkit-keyframes move-left-fade-out {
  0% {
    -webkit-transform: translateX(calc(-100% - 15px));
            transform: translateX(calc(-100% - 15px));
    opacity: 1;
  }
  50%,
  100% {
    -webkit-transform: translateX(Max(-50vw, -450px));
            transform: translateX(Max(-50vw, -450px));
    opacity: 0;
  }
}

@keyframes move-left-fade-out {
  0% {
    -webkit-transform: translateX(calc(-100% - 15px));
            transform: translateX(calc(-100% - 15px));
    opacity: 1;
  }
  50%,
  100% {
    -webkit-transform: translateX(Max(-50vw, -450px));
            transform: translateX(Max(-50vw, -450px));
    opacity: 0;
  }
}

@-webkit-keyframes move-right-fade-out-short {
  0%,
  50% {
    -webkit-transform: translateX(calc(100% + 10px));
            transform: translateX(calc(100% + 10px));
    opacity: 1;
  }
  50%,
  100% {
    -webkit-transform: translateX(Min(25vw, 225px));
            transform: translateX(Min(25vw, 225px));
    opacity: 0;
  }
}

@keyframes move-right-fade-out-short {
  0%,
  50% {
    -webkit-transform: translateX(calc(100% + 10px));
            transform: translateX(calc(100% + 10px));
    opacity: 1;
  }
  50%,
  100% {
    -webkit-transform: translateX(Min(25vw, 225px));
            transform: translateX(Min(25vw, 225px));
    opacity: 0;
  }
}

@-webkit-keyframes move-right-fade-out-encrypted {
  0%,
  50% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    opacity: 1;
  }
  50%,
  100% {
    -webkit-transform: translateX(Min(17vw, 150px));
            transform: translateX(Min(17vw, 150px));
    opacity: 0;
  }
}

@keyframes move-right-fade-out-encrypted {
  0%,
  50% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
    opacity: 1;
  }
  50%,
  100% {
    -webkit-transform: translateX(Min(17vw, 150px));
            transform: translateX(Min(17vw, 150px));
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */