.page.presentation {
    background: #3D7EAA;
    background: linear-gradient(to right, #C9D2EE, #FFE7C3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow-y: scroll;

    .loading {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font: 500 14px "Open Sans", sans-serif;

        img {
            width: 30px;
        }

        animation: fade-in ease-out 500ms forwards;
    }

    .tile {
        width: 100%;
        max-width: 600px;
        background: #fff;
        border-radius: 15px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        padding: 25px 40px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        animation: fade-in-up ease-out 500ms;

        .seperator {
            height: .3px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);
            margin: 15px 0;
        }

        h2 {
            font: 700 30px "Roboto", sans-serif;
            // padding-bottom: 20px;
        }

        h3 {
            font: 500 18px "Open Sans", sans-serif;
            padding-bottom: 10px;
            overflow-wrap: break-word;
        }
    }

    .partner,
    .you {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .step:not(.nine){
        margin: auto 0;
    }

    .step.four .graphic-presentation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto 0;

        p {
            margin: 0;
            padding: 0;
            text-align: center;
            font: 500 15px "Open Sans", sans-serif;
        }

        img {
            width: 35px;
        }

        .partner {
            position: relative;

            .key {
                position: absolute;
                top: 10px;
                transform: translateX(calc(-100% - 15px));
                animation: blink 3s linear infinite;
                opacity: 0;
            }
        }

        .you {
            position: relative;

            .key {
                position: absolute;
                top: 10px;
                transform: translateX(calc(100% + 10px));
                animation: move-right-fade-out 3s ease-in-out infinite;
            }
        }
    }

    .step.five .graphic-presentation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            padding: 0;
            text-align: center;
            font: 500 15px "Open Sans", sans-serif;
        }

        img {
            width: 35px;
        }

        .partner {
            position: relative;

            .key {
                position: absolute;
                top: 10px;
                transform: translateX(calc(-100% - 15px));
                animation: move-left-fade-out 3s ease-in-out infinite;
                opacity: 0;
            }
        }

        .you {
            position: relative;

            .key {
                position: absolute;
                top: 10px;
                transform: translateX(calc(100% + 10px));
                animation: blink 3s linear infinite;
                opacity: 0;
            }
        }
    }

    .step.eight .graphic-presentation, .step.thirteen .graphic-presentation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            padding: 0;
            text-align: center;
            font: 500 15px "Open Sans", sans-serif;
        }

        img {
            width: 35px;
        }

        .partner {
            position: relative;

            .encrypted {
                position: absolute;
                top: -15px;
                transform: translateX(calc(-100% - 15px));
                opacity: 0;
                animation: blink 3s linear infinite;
                animation-delay: 1000ms;
            }
        }

        .you {
            position: relative;

            .decrypted {
                position: absolute;
                top: -15px;
                transform: translateX(calc(100% + 10px));
                animation: move-right-fade-out-short 3s infinite;
            }
        }

        .encrypted-moving {
            position: relative;

            .encrypted {
                position: absolute;
                top: -16px;
                transform: translateX(calc(100% + 10px));
                animation: move-right-fade-out-encrypted 3s infinite;
                animation-delay: 1500ms;
                opacity: 0;
            }
        }

    }

    .step.ten .graphic-presentation, .step.twelve .graphic-presentation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            padding: 0;
            text-align: center;
            font: 500 15px "Open Sans", sans-serif;
        }

        img {
            width: 35px;
        }

        .partner {
            position: relative;

            .encrypted {
                position: absolute;
                top: 10px;
                transform: translateX(calc(-100% - 15px));
                animation: blink 3s linear infinite;
                opacity: 0;
            }
        }

        .you {
            position: relative;

            .encrypted {
                position: absolute;
                top: 10px;
                transform: translateX(calc(100% + 10px));
                animation: move-right-fade-out 3s ease-in-out infinite;
            }
        }
    }

    .step.twelve .graphic-presentation{
        .you .encrypted{
            top: -15px;
        }
    }

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {

    66%,
    49% {
        opacity: 0;
    }

    50%,
    65% {
        opacity: 1;
    }
}

@keyframes move-right-fade-out {
    0% {
        transform: translateX(calc(100% + 10px));
        opacity: 1;
    }

    50%,
    100% {
        transform: translateX(Min(50vw, 450px));
        opacity: 0;
    }
}

@keyframes move-left-fade-out {
    0% {
        transform: translateX(calc(-100% - 15px));
        opacity: 1;
    }

    50%,
    100% {
        transform: translateX(Max(-50vw, -450px));
        opacity: 0;
    }
}

@keyframes move-right-fade-out-short {

    0%,
    50% {
        transform: translateX(calc(100% + 10px));
        opacity: 1;
    }

    50%,
    100% {
        transform: translateX(Min(25vw, 225px));
        opacity: 0;
    }
}

@keyframes move-right-fade-out-encrypted {

    0%,
    50% {
        transform: translateX(-60%);
        opacity: 1;
    }

    50%,
    100% {
        transform: translateX(Min(17vw, 150px));
        opacity: 0;
    }
}