.slide.what-is-rsa {

    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 25px 40px;
    margin: 5%;

    align-self: center;

    width: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    position: relative;

    h2 {
        font: 600 30px "Roboto", sans-serif;
    }

    h3 {
        font: 500 22px "Open Sans", sans-serif;
        margin-bottom: 15px;
    }

    .seperator {
        height: .3px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        margin: 10px 0;
        margin-bottom: 30px;
    }
}